*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS DE HOME */
body{
    font-family: Poppins;
    background-color: #fff;
}
.navbar-brand{
    animation: text-focus-in 2.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;;
}
@keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    }
}
a:hover{
    text-shadow: 0 20px 30px rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 900;
}
h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1{
    font-size: 22px;
    font-weight: 900;
}
h2{
    font-size: 18px;
    font-weight: 700;
}
.noticia-principal{
    display: flex;
    background-image: url(../assets/images/imagen.center.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    align-items: end;
}
.descripcion-imagen{
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 10px;
}
.descripcion-imagen p{
    color: #fff;
    font-weight: 500;
}
h3{
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
    text-align: center;
}
.resultados{
    display: flex;
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.resultados ul{
    list-style: none;
}
.escudos-resultados{
    width: auto;
    height: 50px;
}
.link-externo{
    margin: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
}
.link-externo a{
    text-decoration: none;
    color: #87205b;
    font-weight: 900;
    text-shadow: 10px 10px 15px black;
}
footer{
    width: 100%;
    background-color: #2b2b2b;
}
.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-flex h3{
    color: #fff;
    font-size: 20px;
}
footer img{
    width: 150px;
    height: 70px;
}
.lista-footer ul li{
    display: inline;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.lista-footer img{
    width: 20px;
    height: 20px;
}
.footer-flex p{
    margin: 15px;
    color: #fff;
}


/* CSS DE NOTICIAS */

.noticias-grid{
    display: grid;
    grid-template-columns: 100%;
}
.noticia-grande img{
    width: 100%;
    margin-top: 10px;
}
.noticia-grande article{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.noticia-grande h2{
    font-weight: 900;
}
article p{
    margin-bottom: 7px;
    padding: 0 12px;
    color: #2b2b2b;
    font-weight: 700;
}
.articulo{
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    margin-top: 10px;
    border-left: 1px solid black;
}
@media (min-width: 768px) {
    h1{
        font-size: 30px;
    }
    .noticia-grande h2{
        font-size: 25px;
    }
    .noticia-grande p{
        font-size: 20px;
    }
    .articulo h3{
        font-size: 25px;
    }
    .articulo p{
        font-size: 20px;
    }
}
@media (min-width: 1024px) {
    .noticias-grid{
        grid-template-columns: 60% 300px;
        column-gap: 20px;
        justify-content: space-evenly;
    }
    .noticia-grande{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .noticia-grande article h2{
        font-size: 20px;
    }
    .noticia-grande article p{
        font-size: 16px;
    }
    .articulo{
        gap: 3px;
        margin-top: 5px;
    }
    .articulo h3{
        font-size: 20px;
    }
    .articulo p{
        font-size: 16px;
    }
}
.section-tabla h2{
    margin: 20px 0;
}
.top-10{
    color: #87205b;
    font-weight: 900;
}
.tabla-posiciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
table{
    border: 2px solid #708ecf7e;
    max-width: 700px;
}
table thead{
    font-weight: 700;
    text-align: center;
}
table tbody{
    text-align: center;
}
table tbody td{
    padding: 10px 10px;
}
table tbody tr:nth-child(odd){
    background-color: #708ecf7e;
}
@media (min-width: 768px){
    .section-tabla h2{
        font-size: 20px;
    }
    table{
        width: 100%;
    }
}

/* CSS DE GALERIA */

h4{
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
}
.imagenes-grid{
    display: grid;
    grid-template-columns: 100%;
}
.imagenes-grid img{
    width: 100%px;
    height: auto;
    margin: 10px 0;
    padding: 5px;
}
.imagenes-grid img:hover{
    height: 350px;
    width: 350px;
}
@media (min-width:1024px){
    .imagenes-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .imagenes-grid img{
        height: 300px;
        width: 340px;
        margin-left: 15px;
    }
}
.video{
    margin: 0 20px;
}
.video iframe{
    width: 100%;
    margin: 10px 0;
}

/* CSS DE HISTORIA */

.historia-principal{
    background-image: url(../assets/images/historia-principal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.textos-historia p{
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}
.textos-historia h2{
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}
.historia2 p{
    margin-top: 10px;
    padding: 10px;
    font-weight: 500;
}
.seccion{
    display: flex;
    flex-direction: column;
}
.seccion__titulo{
    font-size: 18px;
    text-decoration: underline violet;
}
.seccion__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion__imagen{
    max-width:50%;
    height: auto;
}
.seccion__texto{
    text-align: center;
    font-weight: 900;
    margin: 10px 0;
    color: #2b2b2b;
}
@media (min-width:1024px){
    .seccion__main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .seccion__imagen{
        margin-bottom: 10px;
    }
}


/* CSS DE SOBRE-NOSOTROS */
.redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.redes-sociales h1{
    color: #fff;
    font-weight: 900;
    text-shadow: none;
}
.formulario{
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 8px -4px 20px 5px #3e3e3c;
}
.formulario h3,p{
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 5px;
    text-shadow: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 900;
}
input{
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
form label,input{
    font-size: 14px;
    margin: 5px 10px;
    padding: 8px;
}
@media (min-width:1024px){
    .form-redes{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redes-sociales{
        width: 200px;
    }
    .form-title{
        text-align: center;
    }
    .formulario{
        width: 700px;
        display: grid;
        grid-template-areas: 
        "redes-sociales redes-sociales form-title"
        "redes-sociales redes-sociales form"
        "redes-sociales redes-sociales form"
        "redes-sociales redes-sociales form";
        justify-content: space-evenly;
    }
    .redes-sociales{
        grid-area: redes-sociales;
    }
    .form-title{
        grid-area: form-title;
    }
    form{
        grid-area: form;
    }
}