footer{
    width: 100%;
    background-color: $color-bg-secondary;
    img{
        width: 150px;
        height: 70px;
    }
}
.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h3{
        color: #fff;
        font-size: $h2-h3-size;
    }
    p{
        margin: 15px;
        color: #fff;
    }
}
.lista-footer ul li{
    display: inline;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.lista-footer img{
    width: 20px;
    height: 20px;
}