body{
    font-family: Poppins;
    background-color: #fff;
}
a:hover{
    text-shadow: $nav-shadow;
    text-decoration: underline;
    font-weight: 900;
}
h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1{
    font-size: $h1-size;
    font-weight: 900;
}
h2{
    font-size: $h2-h3-size;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
    text-align: center;
}
.link-externo{
    margin: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
    a{
        text-decoration: none;
        color: $color-link-externo;
        font-weight: 900;
        text-shadow: 10px 10px 15px black;
    }
}