body{
    font-family: Poppins;
    background-color: #fff;
}
a:hover{
    text-shadow: 0 20px 30px rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 900;
}
h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1{
    font-size: $h1-size;
    font-weight: 900;
}
h2{
    font-size: $h2-h3-size;
    font-weight: 700;
}
